@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header nav {
  background-color: black;
  align-items: center;
  justify-content: space-evenly;
  padding: auto;
  color: white; }
  header nav .container-fluid a img {
    width: 100px;
    height: 100px;
    margin: 5px; }
  header nav .container-fluid button {
    background-color: white; }
  header nav .container-fluid .collapse {
    align-items: center;
    justify-content: space-between;
    color: white; }
    header nav .container-fluid .collapse ul {
      background-color: black;
      list-style: none;
      justify-content: center;
      margin: 0 30px; }
      header nav .container-fluid .collapse ul li {
        text-decoration: none;
        color: white;
        text-align: center;
        margin-top: 40px 40px; }
        header nav .container-fluid .collapse ul li a {
          color: white; }
  header nav .container-fluid h1 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: white;
    padding: 15px; }

.equipo {
  background-image: url("../img/FOTO-PORTADA.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  object-fit: contain; }

.historia {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 5px;
  font-style: normal;
  text-align: justify;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #b84444;
  color: white; }
  .historia section div {
    padding: 20px; }
    .historia section div h2 {
      font-size: 30px;
      text-align: center; }
    .historia section div p {
      margin-bottom: 0;
      text-indent: 5px; }
    .historia section div img {
      width: 60%;
      height: 450px;
      padding: 10px;
      display: flex;
      align-items: center;
      object-fit: contain; }

.alineaciones .alineaciones-del-equipo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 20px;
  font-style: normal;
  background-color: #b84444;
  color: white;
  justify-content: space-around; }
  .alineaciones .alineaciones-del-equipo h2 {
    text-align: center; }
  .alineaciones .alineaciones-del-equipo .alineaciones-container {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-wrap: wrap; }
    .alineaciones .alineaciones-del-equipo .alineaciones-container h3 {
      text-align: center; }
    .alineaciones .alineaciones-del-equipo .alineaciones-container .alineacion {
      border: 2px white solid;
      padding: 5px;
      width: 350px;
      height: 350px;
      background-color: #692727;
      margin: 20px; }
      .alineaciones .alineaciones-del-equipo .alineaciones-container .alineacion h4 {
        text-align: center;
        font-size: 15px; }
      .alineaciones .alineaciones-del-equipo .alineaciones-container .alineacion p {
        text-align: center; }
      .alineaciones .alineaciones-del-equipo .alineaciones-container .alineacion img {
        width: 250px;
        height: 250px;
        padding-bottom: 50px;
        object-fit: fill; }

.jugadores-del-equipo section div h2 {
  background-color: #b84444;
  color: white;
  text-align: center;
  padding: 40px;
  border: none; }

.jugadores-del-equipo section .jugadores {
  font-family: 'Times New Roman', Times, serif;
  padding: 40px;
  font-size: 10px;
  font-weight: 10px;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #b84444;
  color: white;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px; }
  .jugadores-del-equipo section .jugadores div {
    border: 2px white solid;
    width: 350px;
    height: 350px;
    display: inline-block;
    background-color: #692727;
    margin: 15px; }
    .jugadores-del-equipo section .jugadores div img {
      width: 175px;
      height: 175px;
      padding-bottom: 25px; }

.partidos section {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  font-weight: 10px;
  font-style: normal;
  background-color: #b84444;
  color: white;
  flex-wrap: wrap;
  display: flex; }
  .partidos section .partidos-list {
    padding: 15px;
    margin: 10px; }
    .partidos section .partidos-list iframe {
      padding: 35px; }

.torneos section div h2 {
  background-color: #b84444;
  color: white;
  text-align: center; }

.torneos .torneos-disputados {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  font-weight: 10px;
  font-style: normal;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding-left: 20px;
  background-color: #b84444;
  color: white;
  justify-content: space-evenly; }
  .torneos .torneos-disputados .grid-item {
    border: 2px white solid;
    padding: 5px;
    width: 350px;
    height: 350px;
    background-color: #692727;
    margin: 20px; }
    .torneos .torneos-disputados .grid-item img {
      width: 250px;
      height: 250px;
      padding-bottom: 30px;
      object-fit: contain; }

.contactame {
  background-color: #b84444;
  color: white;
  flex-direction: column;
  text-align: center;
  border: none; }
  .contactame section form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contactame section div {
    padding: 5px; }
    .contactame section div label {
      color: aliceblue;
      font-weight: 500px;
      font-size: 20px; }
  .contactame section div input {
    width: 160px;
    border: white 1px solid;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    color: black;
    font-weight: 200px;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: black; }

.final {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px; }
  .final p {
    color: white; }
  .final a img {
    width: 30px;
    height: 30px; }

@media (max-width: 940px) {
  body .equipo {
    width: 100%; }
  body .historia {
    font-size: 15px;
    text-align: justify; }
  body .historia img {
    width: 50%;
    height: auto; } }

@media (max-width: 940px) {
  .torneos .torneos-disputados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .alineaciones .alineaciones-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .partidos .partidos-list iframe {
    height: 215px;
    width: 430px; } }

@media (max-width: 600px) {
  body .equipo {
    height: 250px;
    width: auto; }
  body .historia {
    font-size: 10px;
    text-align: justify; }
  body .historia img {
    width: 250px;
    height: 300px; } }

@media (max-width: 600px) {
  .torneos .torneos-disputados {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .alineaciones .alineaciones-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .partidos .partidos-list iframe {
    height: 200px;
    width: 400px; } }

@media (max-width: 400px) {
  body .equipo {
    height: 200px;
    width: auto; }
  body .historia {
    font-size: 10px;
    text-align: justify; }
  body .historia img {
    width: 50%;
    height: 200px; } }

@media (max-width: 400px) {
  .torneos .torneos-disputados {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .alineaciones .alineaciones-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .partidos .partidos-list iframe {
    height: 175px;
    width: 375px; } }
