
.partidos{
    section{
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        font-weight: 10px;
        font-style: normal;
        background-color: $color-secundario;
        color: white;
        flex-wrap: wrap;
        display: flex;
        .partidos-list{
            padding: 15px;
            margin: 10px;
            iframe{
                padding: 35px;
            }
        }
    }
}