@media (max-width:940px)  {
    .equipo {
        width: 100%;
    }
    .historia{
        font-size: 15px;
        text-align: justify;
    }
    .historia img{
        width: 50%;
        height: auto;
    }
    .torneos-disputados{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

@media(max-width:560px) {
    .equipo {
        height: 250px;
        width: auto;
    }
    
    .historia{
        font-size: 10px;
        text-align: justify;
    }
    .historia img{
        width: 50%;
        height: auto;
    }
    .torneos-disputados{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }
}


@media(max-width:400px) {
    .equipo {
        height: 125px;
        width: auto;
    }
    
    .historia{
        font-size: 10px;
        text-align: justify;
    }
    .historia img{
        width: auto;
        height: 50%;
    }
    .torneos-disputados{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }
}